<section class="tic-tac-toe pd-bl-20">
    <h2 class="text-align-center pd-bl-ed-10">Welcome to Tic-Tac-Toe</h2>

    <section
        *ngIf="!ticTacToeService.getPlayer(); else board"
        class="flex gap20 pd-bl-10 justify-center"
    >
        <h3>Please pick a side:</h3>
        <section class="flex gap10">
            <button (click)="onPlayerPick('X')">
                <p class="width-10">X</p>
            </button>
            <button (click)="onPlayerPick('O')">
                <p class="width-10">O</p>
            </button>
        </section>
    </section>

    <ng-template #board>

        <section class="width-300 pd-bl-10 mg-in-auto">
            <button (click)="ticTacToeService.restart()">New game</button>
        </section>

        <section class="pd-bl-10 flex space-between gap40 width-300 mg-in-auto">
            <h3>You are: {{ ticTacToeService.getPlayer() }}</h3>
            <h3 *ngIf="!ticTacToeService.getGame().isWin; else whoWins">Next is: {{ ticTacToeService.getWhoIsNext() }}
            </h3>
            <ng-template #whoWins>
                <h3>{{
                    ticTacToeService.getGame().winner === 'tie' ?
                    'Tie!' :
                    (ticTacToeService.getGame().winner + ' Wins!')
                    }}</h3>
            </ng-template>
        </section>

        <board
            [isGameOn]="ticTacToeService.getGame().isGameOn"
            [tileList]="ticTacToeService.getGame().board"
            [isPlayerNext]="ticTacToeService.getGame().isPlayerNext"
            (handleTileClick)="handleTileClick($event)"
        ></board>
    </ng-template>
</section>